ev4OWMLHUQR_ahDlF8wYAu:APA91bFJCQOHKQ_c3f51R5R8TyPvGu9udYOqdyqDm9mdEn3Md35UhpBMFO0VIlSYtA1fj1c8pzd9NStKO6nu0QZULdDRZm92e8zYhwFUb6Qlm9RfpD86UKJ4933yMSBeE5L-oltRFdG9

curl --location --request POST 'https://api.novu.co/v1/events/trigger' \
                         --header 'Authorization: ApiKey a3d3720dbc0baf16c8275a461af103eb' \
                         --header 'Content-Type: application/json' \
                         --data-raw '{
                            "name": "on-boarding-notification",
                            "to": {
                                "subscriberId": "63c163a1d15f989449ecfeca",
                                "firstName": "amanda",
                                "lastName": "torres"
                            },
                            "payload": {
                                "$on_boarding_trigger": "true",
                                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2M2MxNjNhMWQxNWY5ODk0NDllY2ZlY2EiLCJmaXJzdE5hbWUiOiJhbWFuZGEiLCJsYXN0TmFtZSI6InRvcnJlcyIsImVtYWlsIjoiYXRyZV95dV9jdWlAaG90bWFpbC5jb20iLCJwcm9maWxlUGljdHVyZSI6Imh0dHBzOi8vYXZhdGFycy5naXRodWJ1c2VyY29udGVudC5jb20vdS80MDQ3ODA5Nz92PTQiLCJvcmdhbml6YXRpb25JZCI6IjYzYzE2M2EyYjEwYzNlMjIyNThhNmJmOCIsInJvbGVzIjpbImFkbWluIl0sImVudmlyb25tZW50SWQiOiI2M2MxNjNhMmIxMGMzZTIyMjU4YTZiZmUiLCJpYXQiOjE2NzM2MTgzMzgsImV4cCI6MTY3NjIxMDMzOCwiaXNzIjoibm92dV9hcGkifQ.nHpU4CAeDEEGhIjmYgacAClb4Z_peYgIc2pKYexKaQc"
                            }
                        }'
                    


import { Novu } from '@novu/node'; 

const novu = new Novu('<API_KEY>');

novu.trigger('new-message', {
    to: {
      subscriberId: '<REPLACE_WITH_DATA>'
    },
    payload: {}
  });


import { Novu } from '@novu/node'; 

const novu = new Novu('<API_KEY>');

novu.trigger('new-message', {
    to: {
      subscriberId: '<REPLACE_WITH_DATA>'
    },
    payload: {}
  });
                  